---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - persistentvolumeclaims
  - pods
  verbs:
  - create
- apiGroups:
  - cdi.kubevirt.io
  resources:
  - datavolumes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - watch
- apiGroups:
  - cdi.kubevirt.io
  resources:
  - datavolumes/source
  verbs:
  - create
- apiGroups:
  - snapshot.kubevirt.io
  resources:
  - virtualmachinesnapshotcontents
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - snapshot.kubevirt.io
  resources:
  - virtualmachinesnapshots
  verbs:
  - create
  - delete
  - get
  - list
  - watch
- apiGroups:
  - subresources.kubevirt.io
  resources:
  - expand-vm-spec
  verbs:
  - update
- apiGroups:
  - template.kubevirt.io
  resources:
  - virtualmachinetemplaterequests
  verbs:
  - get
  - list
  - patch
  - watch
- apiGroups:
  - template.kubevirt.io
  resources:
  - virtualmachinetemplaterequests/finalizers
  - virtualmachinetemplates/finalizers
  verbs:
  - update
- apiGroups:
  - template.kubevirt.io
  resources:
  - virtualmachinetemplaterequests/status
  - virtualmachinetemplates/status
  verbs:
  - get
  - patch
- apiGroups:
  - template.kubevirt.io
  resources:
  - virtualmachinetemplates
  verbs:
  - create
  - get
  - list
  - watch
